@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.container {
  text-align: center;
  padding: 30px;
}

.video {
  width: 400px;
  border-radius: 10px;
  border: 3px solid #00ffcc;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #00ffcc;
  color: black;
  cursor: pointer;
}

.btn:hover {
  background: #00ccaa;
}

.result {
  margin-top: 20px;
}

.heatmap img {
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
  border: 3px solid red;
}